@charset "utf-8";
.BANNER1 {
    background-image: url("img/IMG_7820_Original-min.JPG");
    height: 1500px;
    background-clip: border-box;
    min-height: 0px;
    background-size: 2587px auto;
}
.titulos {
    color: #F7F7F7;
}
.parrafos {
    color: #FFFFFF;
}
.color {
    background-image: -webkit-linear-gradient(270deg,rgba(255,158,0,1.00) 0%,rgba(255,126,0,1.00) 35.23%,rgba(255,67,0,1.00) 62.69%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,158,0,1.00) 0%,rgba(255,126,0,1.00) 35.23%,rgba(255,67,0,1.00) 62.69%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,158,0,1.00) 0%,rgba(255,126,0,1.00) 35.23%,rgba(255,67,0,1.00) 62.69%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,158,0,1.00) 0%,rgba(255,126,0,1.00) 35.23%,rgba(255,67,0,1.00) 62.69%,rgba(255,0,0,1.00) 100%);

}
.colorfondo {
    background-color: rgba(0,0,0,1.00);
}
.cb {
    color: rgba(255,255,255,1.00);
}
